!!!5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %link{rel: 'canonical', href: '/'}/
    %title Hiking with Charlie
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'}
    %link{rel: 'stylesheet', href: '/style/listing.css', type: 'text/css'}
    %script{src: 'https://kit.fontawesome.com/772a32a5d5.js'}
    %style#category-style-sheet
  %body
    %main
      %heading
        %h1 Hiking with Charlie
        %p
          organised through
          %a.hb-logo{href: 'https://www.hiking-buddies.com/routes/'} Hiking Buddies
      %nav
        %ul
          %li<>
            %a{class: (:this if self_link? '/'), href: '/'} Upcoming
          %li<>
            %a{class: (:this if self_link? '/past'), href: '/past'} Past
        %ul.category-selector
          - categories.each do |category|
            %li<>
              %a{data: {category: category.name}, class: category.name, href: "#category-#{category.name}"}
                = category.html_icon
      - events.each do |event|
        %a.card{href: event.local_link, class: event.category}
          %figure
            %img{src: event.image}
          %aside
            .permalink{href: event.local_link}
              %span.copiedMessage copied
              %span.linkText= event.local_link
              %input{contenteditable: true}
            %h2= event.title
            %ul
              %li= event.category_icon
              - event.tags.each do |tag|
                %li= tag
              - if event.distance
                %li
                  ↔︎
                  = event.distance
              - if event.ascent
                %li
                  ↗︎
                  = event.ascent
              - if event.grade
                %li= event.grade
            %ul{data: {id: event.id}}
              %li= event.day_date_time_string
              - if event.past?
                %li #{event.registered} registered
              - elsif event.available > 0
                %li.capacity.available
                  #{event.registered}/#{event.capacity} registered,
                  #{event.available} #{'space'.pluralize(event.available)} available
              - else
                %li.capacity.full #{event.registered}/#{event.capacity} registered, #{event.waiting} waiting
            %p= event.desc
    :javascript
      document.body.addEventListener('click', e => {
        const permalink = e.target.closest('.permalink');
        if (permalink === null) return;
        e.preventDefault();
        permalink.classList.remove('copied');
        clearTimeout(permalink.dataset.timeout);

        const input = permalink.querySelector('input');
        const linkText = permalink.querySelector('.linkText').innerText;
        input.setAttribute('size', linkText.length);
        input.value = permalink.closest('a').href;
        permalink.classList.add('copying');
        
        const range = document.createRange();
        range.selectNodeContents(input);
        const sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(range);
        input.setSelectionRange(0, 999999);
        
        document.execCommand('copy');
        input.blur();
        permalink.classList.add('copied');
        permalink.classList.remove('copying');
        permalink.dataset.timeout = setTimeout(() => {
          permalink.classList.remove('copied');
        }, 1000);
        document.activeElement.blur();
      });

      function changeHash(newHash) {
        const match = location.hash.match(/^(.*?)#category-([-\w]+)(.*)$/);
        if (match && match[2] == newHash) location.hash = match[1] + match[3];
        else if (match) location.hash = `${match[1]}#category-${newHash}${match[3]}`;
        else location.hash = `#category-${newHash}`;
      }

      function onHashChange() {
        const match = location.hash.match(/#category-([-\w]+)/);
        const category = match && match[1];

        const sheet = document.getElementById('category-style-sheet');
        
        sheet.innerText = category ? `
          .card:not(.${category}) { display: none; }
          .category-selector .${category}:not(:hover) { background-color: #ccc; }
        ` : '';
      }
      window.addEventListener("hashchange", onHashChange);
      onHashChange();

      document.querySelector('.category-selector').addEventListener('click', e => {
        const link = e.target.closest('.category-selector > li > a');
        if (link === null) return;
        changeHash(link.dataset.category);
        e.preventDefault();
      });