!!!5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %link{rel: 'canonical', href: '/'}/
    %title Hiking with Charlie
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'}
    -#
      %meta{'http-equiv': 'Refresh', content: '0; url=https://xsanda.me'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Satisfy', type: 'text/css'}
    %link{rel: 'stylesheet', href: '/style/listing.css', type: 'text/css'}
    %script{src: 'https://kit.fontawesome.com/772a32a5d5.js'}
  %body
    %main
      %heading
        %h1 Hiking with Charlie
        %p
          organised through
          %a.hb-logo{href: 'https://www.hiking-buddies.com/routes/'} Hiking Buddies
      - events.each do |event|
        %a.card{href: event.local_link}
          %figure
            %img{src: event.image}
          %aside
            .permalink{href: event.local_link}
              %span.copiedMessage copied
              %span.linkText= event.local_link
              %input
            %h2= event.title
            %ul
              %li= event.category_icon
              - event.tags.each do |tag|
                %li= tag
              - if event.distance
                %li
                  ↔︎
                  = event.distance
              - if event.ascent
                %li
                  ↗︎
                  = event.ascent
              - if event.grade
                %li= event.grade
            %ul{data: {id: event.id}}
              %li= event.day_date_time_string
              - if event.past?
                %li #{event.registered} registered
              - elsif event.available > 0
                %li.capacity.available
                  #{event.registered}/#{event.capacity} registered,
                  #{event.available} #{'space'.pluralize(event.available)} available
              - else
                %li.capacity.full #{event.registered}/#{event.capacity} registered, #{event.waiting} waiting
            %p= event.desc
    :javascript
      document.body.addEventListener('click', e => {
        const permalink = e.target.closest('.permalink');
        if (permalink === null) return;
        e.preventDefault();

        const input = permalink.querySelector('input');
        const linkText = permalink.querySelector('.linkText').innerText;
        input.setAttribute('size', linkText.length);
        input.value = permalink.closest('a').href;
        permalink.classList.add('copying');
        input.select();
        document.execCommand('copy');
        input.blur();
        permalink.classList.add('copied');
        permalink.classList.remove('copying');
        setTimeout(() => permalink.classList.remove('copied'), 1000);
      });